{% extends 'base.html.twig' %}

{% block title %}
    presentation du jeux de role grandeur nature
{% endblock %}

{% block body %}

<h1>Qu’est-ce que le GN ?</h1>
    <div id="text">
        <p>
            Rencontre entre des personnes, qui à travers le jeu de personnages, interagissent physiquement, dans un monde fictif.
            <br>
            <br>
            Cette définition s’attache à préserver ce qui fait l’essence même de l’activité : son caractère ludique et social, la notion d’incarnation de personnages par les joueurs, et la séparation claire entre le temps de jeu et la réalité.
            <br>
            <br>
            Par le choix de cette définition, nous affichons également notre volonté forte d’établir le point commun  à toutes les associations membres, et de faciliter la rencontre des différentes pratiques de l’activité, dans la convivialité, l’échange et le respect de chacun.
            <br>
            <br>
            Vous découvrirez à travers les pages proposées dans cet onglet différentes formes de GN, les outils que nous utilisons, comment nous fonctionnons, sans qu'elle puisse pour autant être exhaustives.
            <br>
            <br>
            Vous pouvez visionner plusieurs films de présentation:
            <br>
            <br>
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JShrrXHJNrE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <iframe width="560" height="315" src="https://www.youtube.com/embed/D8ppXQSb7ws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock %}
