{% extends "base.html.twig" %}

{% block title %}Page 404{% endblock %}

{% block body %}
<img src="{{asset('error/error404.jpeg')}}" alt="">
    {# <h1>page non trouvée</h1>
    <p>Code de l'erreur : {{ status_code }}</p>
    <p>Message de l'erreur : {{ status_text }}</p> #}
    
{% endblock %}