<form method="post" action="{{ path('create_event_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Voulez vous supprimer votre événement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
    <button class="btn btn-danger" id="bouton-rouge">Supprimer</button>
</form>
